body {
    font-family: Arial, sans-serif;
    background: url('/roof-toppers/public/img/rooftoppers_bg.png') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    /* Zorgt ervoor dat de container in meerdere rijen kan breken als er weinig ruimte is */
}

.centered {
    .box {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 100%;
        text-align: center;
        width: 350px;
        min-height: 400px;
        /* Zorgt ervoor dat de box altijd minimaal 400px hoog is */
    }
}

.box {
    background: #525252;
    border-radius: 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 350px;
    min-height: 400px;
    position: relative;
    border: 3px solid #25d112;

    h2 {
        font-size: 2rem;
        margin-bottom: 20px;
        color: white;
    }

    ul {
        list-style: none;
        padding: 0;
        font-size: 1.5rem;
        color: white;
        flex-grow: 1;
        overflow-y: auto;
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    li {
        padding: 10px 0;
        font-weight: bold;
        position: relative;

        width: 100%;
        text-align: center;
        border-bottom: 1px solid white;
    }

    li:last-child {
        border-bottom: 1px solid white;
    }
}